h1,h2{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.titlepage{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E0E0E0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
  }

  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover, .dropdown:hover .dropbtn {
  background-color: #46494C;
}  

li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

p{
    font-family: 'Raleway', sans-serif;
}

h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h4{
    font-family: 'Raleway', sans-serif;
}

.textcolumn {
    float: left;
    width: 30%;
    padding: 1.6%;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .textrow:after {
    content: "";
    display: table;
    clear: both;}

  .column img{
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 33%;
      max-height: 33%;
    }
  
  .column img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
  .column img:hover{opacity: 1}
  .cccontainer {
      position: relative;
      text-align: center;
      color: white;
    }
  img.contain {
      width: 100%;
  }
  
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 350%;
    object-fit: contain;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.text-center {
  text-align: center;
  font-size: medium;
  font-family: 'Raleway', sans-serif
}
     
/*Music Pages */
img.katyperry{
  width: 60%;
}

h5.artistname {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}	
  
h5.reviewtype {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

h1.albumname {
  text-align: center;
}

img.albumpic{
  width: 60%;
}
#piechart {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(pink 0.00% 50.00%, rgb(111, 169, 255) 50.00% 75.00%, rgb(250, 198, 101) 75.00% 100.00%);
}

#legenda {
  margin-left: 20px;
  background-color: white;
  padding: 5px;
}

.entry {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.entry-color {
    height: 10px;
    width: 10px;
}

.entry-text {
  margin-left: 5px;
}

#color-pink {
  background-color: pink;
}

#color-blue {
  background-color: rgb(111, 169, 255);
}

#color-orange {
  background-color: rgb(250, 198, 101);
}

h5{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
